@font-face {
  font-family: "europa-icons";
  src: url('../fonts/europa-icons.eot');
  src: url('../fonts/europa-icons.eot.eot?#iefix') format('eot'),
    url('../fonts/europa-icons.eot.woff') format('woff'),
    url('../fonts/europa-icons.eot.ttf') format('truetype'),
    url('../fonts/europa-icons.eot.svg#europa-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon{ line-height: 0;
    position: relative;
    vertical-align: text-top;
    height: 16px;
    width: 16px;
}

.icon:before {
  display: inline-block;
  font-family: "europa-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-handshake{content: "\uEA02-handshake";}