.productGrid {
	/*GRID STRUCTURE*/
	@include grid-block( $wrap: true,$size:12);
}

.productGrid__card {
	@include grid-content(12);
	
	//Grid For Medium Screen
	@include breakpoint(medium) {
		@include grid-size(6);
	}
	//Grid For Large Screen
	@include breakpoint(large) {
		@include grid-size(3);
	}
	
	padding-bottom: 25px;
	transition: witdh 2s height 2s top 2s left 2s;
	transition: border-color 0.3s;
	border : 1px solid rgba(125,125,125,0.0);
	border-collapse: collapse;
	margin: 0px;
}
.productGrid__card:hover {
	border-color: rgba(125,125,125,0.3);
}
.productGrid--thumbnail {
	padding: 0.5rem;
}

.productGrid--h4 {
	font: 1.2em/1em "robotoblack", Helvetica, Arial, san-serif;
	text-transform: uppercase;
}

.productGrid--h6 {
	font: .9em/1.3em "roboto_slablight", Georgia, Times, serif;
}