
/*LAYOUT STYLES HOUSE THE MAJOR COMPNENTS SUCH AS HEADER, FOOTER & UTILITY STYLES THAT HELP*/


header#header{background-color:#00558b;

}

ul.menu-bar li.active{
	background-color:#fff;
} 

.menu-group.primary .menu-bar>li.active>a{color:#000;font-weight:bold;}
.menu-group.primary .menu-bar>li.active>a:hover{color:#fff;}

main#content{padding:0 1em;}

footer#footer{}

/*SEED CLASS: DELETE ON NEW PROJECTS */
.full-width {
  max-width: 1400px;
}

$text-color: #fff;

// footer CSS

#footer {
  background-color: #2980b9;
  margin-top: 3em;
  padding: 2rem 4rem;
  text-align: center;
  color: $text-color;
  i {
    font-size: 100px;
  }
}


