<!--Breadcrumb Directive-->
<span breadcrumb></span>

<div class='product'>
	<div class='product--container'>
		<img src='{{selectedPic}}' class='product--img'/>
		<div class='product--thumbnail'>
			<img src='{{product.pic1}}' ng-click = 'selectedPic = product.pic1'/>
			<img src='{{product.pic2}}' ng-click = 'selectedPic = product.pic2'/>
			<img src='{{product.pic3}}' ng-click = 'selectedPic = product.pic3'/>
			<img src='{{product.pic4}}' ng-click = 'selectedPic = product.pic4'/>
		</div>
	</div>
	<div class='product--container'>
		<h1>{{product.name}}</h1>
		<p class='separator'>{{product.catchline}}</p> 
		<p class='product-wholesale'>{{product.wholesale}}</p>
		<h3 class='product-price'>{{product.price}}</h3>
		<p class='separator'>{{product.description}}</p>
	</div>
</div>

