<!--Breadcrumb Directive-->
<span breadcrumb></span>
<h1>Products</h1>
<div class='productGrid'>
<p data-ng-repeat='item in products' class='productGrid__card' ng-click="redirect(item.id)">
	<img src='{{item.pic}}' class='productGrid--img'/>
	<span class='productGrid--h6'>
	<span class='productGrid--centered'>
		<span class='productGrid--name'>{{item.name}}</span>
		<span class='productGrid--h4'>{{item.price}}</span>
	</span>
	<span class='separator'></span>
	<span>{{item.description}}</span>
	</span>
	
</p>
</div>

