.product{
	background: white;
	height: 550px;
	display: table-header-group;
}
.product--img{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
	display: block;
	transition: width 1s height 1s;
}
.product--thumbnail{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.product--thumbnail img{
	width: 23%;
    margin-top: 4px;
    border: 1px solid rgba(125,125,125,0);
    border-radius: 2px;
    transition: border-color 0.14s;
}
.product--thumbnail img:first-child{
	margin-left: 0px;
}

.product--thumbnail img:hover{
	border-color : rgba(125,125,125,0.5);
}

.product--container{
	width: 50%;
	float: left;
	height: 100%;
}
.product-wholesale{
	color: gray;
	text-decoration: line-through;
	display: inline;
	margin-right: 15px;
}
.product-price{
	margin-bottom: 12px;
	margin-right: 12px;
	display: inline;
}
@media screen and (max-width: 768px){
	.product--container{
		width: 100%;
	}
	.product{
		height: 1000px;
	}
}
@media screen and (max-width: 1000px){
	.product--img{
		width: 90%;
	}
	.product--thumbnail{
		width: 90%;
	}
}